html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#carousel {
    height: 300px;
    width: 300px;
    overflow: hidden;
    position: relative;
    border: 1px solid blue;
}

#carousel:hover {
    background-color: rgba(200, 200, 200, 0.25);
}

#carousel:hover::before {
    left: 10px;
    top: 150px;
    position: absolute;
    content: "<";
}

#carousel:hover::after {
    left: 275px;
    top: 150px;
    position: absolute;
    content: ">";
}

#image-slider {
    position: absolute;
    width: 1200px;
    transition: left 300ms ease-in-out;
    left: 0px;
}

.image-frame {
    display: inline-block;
    padding-left: 24px;
}
